<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Full Post</title>
</head>
<body>

<div sec:authorize="isAuthenticated()" th:if="${userName}==${posts.author}">

    <form th:action="@{'/updatePost/'+${posts.id}}" method="GET">
        <button type="submit">Update post</button>
    </form>
    <form th:action="@{'/deletePost/'+${posts.id}}" method="GET">
        <button type="submit">Delete post</button>
    </form>
</div>

<p>------------------------------------------------------</p>
<div th:each="post :${posts}">
    <h1 th:text="${post.title}"></h1>
    <h2 th:text="${post.author}"></h2>
    <h4 th:text="${post.createdAt}"></h4>
    <h3 th:text="${post.content}">
    </h3>
    <p>------------------------------------------------------</p>
    <h1>Comment</h1>
    <br>
    <form th:action="@{/saveComment}" class="center" method="POST">
        <label>Name</label>
        <input required type="text" placeholder="Enter Name">
        <br>
        <br>
        <label>Email</label>
        <input required type="email" placeholder="Enter email">
        <br>
        <br>
        <label>Comment</label>
        <input required type="text" placeholder="Write Comment">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>

</div>
</body>
</html>