<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Full Post</title>
</head>
<body>
<h1>[[${#request.userPrincipal.principal.name}]]</h1>
<p>------------------------------------------------------</p>
<div th:each="post :${posts}">
    <h1 th:text="${post.title}"></h1>
    <h2 th:text="${post.author}"></h2>
    <h4 th:text="${post.createdAt}"></h4>
    <h3 th:text="${post.content}">
    </h3>
    <p>------------------------------------------------------</p>
</div>
</body>
</html>