<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Full Post</title>
</head>
<body>

<div sec:authorize="isAuthenticated()" th:if="${userName}==${posts.author}">

        <a th:href="@{'/updatePost/'+${posts.id}}">Update Post</a>
        <a th:href="@{'/deletePost/'+${posts.id}}">Delete Post</a>
</div>

<p>------------------------------------------------------</p>
<div th:each="post :${posts}">
    <h1 th:text="${post.title}"></h1>
    <h2 th:text="${post.author}"></h2>
    <h4 th:text="${post.createdAt}"></h4>
    <h3 th:text="${post.content}"></h3>
    <p>------------------------------------------------------</p>
    <br>

    <a th:href="@{'/addComment/'+${posts.id}}">Add Comments</a>
</div>

<h1>Comments</h1>
<p>------------------------------------------------------</p>
<div th:each="comment :${comments}">
    <h5 th:text="'By-'+${comment.name}"></h5>
    <h2 th:text="${comment.comment}"></h2>
    <h5 th:text="'commented at-'+${comment.createdAt}"></h5>

    <div sec:authorize="isAuthenticated()" th:if="${userName}==${posts.author}">
           <a th:href="@{'/updateComment/'+${comment.id}}">Update Comment</a>
           <a th:href="@{'/deleteComment/'+${comment.id} + '/' + ${comment.postId}}">Delete Comment</a>
    </div>
    <p>------------------------------------------------------</p>
</div>



</body>
</html>