<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index Page</h1>
<div align="center">
    <H1>posts</H1>
    <a th:href="@{/showNewPostForm}">Add Post</a>
    <a th:href="@{/register}">Register User</a>
    <br>
    <br>
    <span>
        <form th:action="@{/?search=}" method="GET">
            <input type="text" placeholder="Search" name="search">
            <button type="submit">Search</button>
        </form>
    </span>

    <br>
    <p>------------------------------------------------------</p>
    <div th:each="post :${posts}">
        <h1 th:text="${post.title}"></h1>
        <h2 th:text="${post.author}"></h2>
        <h4 th:text="${post.createdAt}"></h4>
        <h3 th:text="${post.excerpt}+'...'"></h3>
            <a href="#" th:href="@{'/fullPost/'+${post.id}}">Read More</a>
        <p>------------------------------------------------------</p>
    </div>


    <div th:if="${totalPages > 0}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(0, totalPages-1)}">
                      <a th:text="${i+1}" th:href="@{'/?start=' +${(i*limit)+1}+ '&limit=' +${limit}}"></a>
                    </span>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>