<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <style>
       input
       {
            width:50%;
        }

    </style>
    <style>
        .mul-select{
            width: 100%;
        }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div align="center">
    <h1>New Posts</h1>
    <form action="#" th:action="@{/savePost}" th:object="${post}" method="POST">
        <input type="text" th:field="*{title}" placeholder="Enter Title" required>
        <br>
        <br>

        <div th:if="${post.createdAt}!=null">
            <input type="hidden" th:field="*{createdAt}" th:value="${post.createdAt}">
        </div>
        <input type="hidden" th:field="*{author}" th:value="${post.author}" required>
        <input type="hidden" th:field="*{id}" th:value="${post.id}" required>

        <div class="container-fluid h-100 bg-light text-dark">
            <div class="row justify-content-center align-items-center">
                <h5>Select/Create #Tags</h5>
            </div>
            <br>
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <select class="mul-select" multiple="true" name="Tags">
                            <option th:each="tag:${tags}" th:text="${tag.name}" th:value="${tag.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <textarea th:field="*{content}" required rows="10" cols="70">
            </textarea>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>


<script>
        $(document).ready(function(){
            $(".mul-select").select2({
                    placeholder: "Select  #Tags", //placeholder
                    tags: true,
                    tokenSeparators: ['/',',',';'," "]
                });
            })

</script>
</body>
</html>